ul{
    list-style: none;
    padding-left: 0px;
}
ul li{
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;

}
.avatat-group{
    width: 38px;
    height: 100%;
    float: left;
}
.avatat-group .avatar{
    width: 38px;
    height:38px;
}
.question-group{
    float: left;
    width: 650px;
    margin-left: 10px;
    padding: 15px 0;
}
.question-title a{
    color: navy;
    font-weight:bold;
}
.question-info{
    text-align: right;
}
.question-author{
    margin-right: 15px;
}